<div class='aa'>
    <%= form_for @portfolio do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :portfolio_amout %>
        $<%= f.number_field :portfolio_amount %>
        <%= f.label :stock_code %>
        <div class="stocks">
            <%= f.collection_check_boxes :company_ids, Company.all, :id, :stock_code %>
        </div>
        <%= f.submit 'Create', :class => 'buttonRight' %>

    <% end %>
</div>

<%# partial form and render it to the edit and new files within views. %>
