<br>
<br>
<h4> My Portfolio </h4>  

<% @portfolio.companies.each do |company| %>
    <div class="a">
    <%= link_to company.name, company %>
    <%= company.history %>
    <%= company.potential %>
    <%= company.current %>
    <%= company.potential %>
    </div>
<% end %>
