<h1>Stock Information<h1>

<p>Here's your stock information <%= @current_user if @current_user.present? ></p>

<%= @articles.name %>
<%= @articles.history %>
<%= @articles.current %>
<%= @articles.future %>
<%= @articles.potential %>




