<br>

<br>
<br>
<h4>Here's a concise yet researched paper on the stock in question</h4>

<div class="b">
<%= @company.name %>
<%= @company.history %>
<%= @company.current %>
<%= @company.future %>
<%= @company.potential %>
</div>