<h1> Portfolio's page</h1>

<h2>"Lets make you some money" <%= @current_user if current_user.present? %></h2>


<%= form_for @portfolio do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit %>

<% end %>

    