<h4> Portfolio's page</h4>

<h5>"Lets make you some money" <%= @current_user if current_user.present? %></h5>


<%= form_for @portfolio do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit %>

<% end %>

    