<!DOCTYPE html>
<html>
  <head>
    <title>Stock Investments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <nav class="container">
      <button type="button" class="btn btn-secondary">
        <%= link_to 'Home', root_path %>
        </button>
        
          <% if @current_user.present? %>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Investmens', portfolio_path(@current_user.portfolio_id) %>
          </button>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Knowledge centre', articles_path %>
          </button>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Researched Stocks', companies_path %>
          </button>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Logout', login_path, :method => 'destroy' %>
          </button>
        <% else %>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Sign Up to Our Investment Insights', new_user_path %>
          </button>
          <button type="button" class="btn btn-secondary">
          <%= link_to 'Sign in', login_path %>
          </button>

        <% end %>
      </nav>
    </div>

    <div class= container>
      <%= yield %>
    </div>
  </body>
</html>


